<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  
  <servlet>
  	<servlet-name>new</servlet-name>
  	<servlet-class>me.zwy.servlet.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>new</servlet-name>
  	<url-pattern>/new.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>image</servlet-name>
  	<servlet-class>me.zwy.servlet.CheckingImageCode</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>image</servlet-name>
  	<url-pattern>/image.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>readtxt</servlet-name>
  	<servlet-class>me.zwy.servlet.ReadTxt</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>readtxt</servlet-name>
  	<url-pattern>/readtxt.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>clientinfo</servlet-name>
  	<servlet-class>me.zwy.work.ClientInfo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>clientinfo</servlet-name>
  	<url-pattern>/client.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UA</servlet-name>
  	<servlet-class>me.zwy.work.Browser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UA</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>flippage</servlet-name>
  	<servlet-class>me.zwy.work.FlipPage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>flippage</servlet-name>
  	<url-pattern>/flippage.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
